	<%=simple_form_for @trip do |f|%>

	<h2>Where are you guys going?</h2>
		<p><%= f.input :name, label: "Location" %></p>
		<p><%= f.input :number, label: "How many people?" %></p>

	<!-- <h2> Attendees </h2> -->

		<%#= render @trip.attendees %>

		<%#=simple_form_for @attendee do |a|%>
		<%#= a.input :name, label: 'Name:'%>
		<%#= a.submit %>

			<%#= render 'attendees/attendee'%>

			<br><br>

		<%= f.submit %>

<% end %>
	



