	<div class=form>
	<%=simple_form_for @trip do |f|%>
		<h3>Where are you guys going?</h3>
			<%= f.input :name, label: 'location' %>
		<h3>How many people?</h3>
			<%= f.input :number, label: 'number' %>
			<br>
			<br>
			<%= f.submit %>
	<% end %>
	</div>

	



