<style>
	body{
		background: url(/assets/welcome.JPG);
		background-size: cover;
		text-align: center;
	}
	
	.new{
		margin: 6% 20% auto 15%;
	}
</style>

<div class = "container navpad">
	<div class = "row">
		<div class = "col-lg-12">
			<div class = "container navpad">
				<body>
					<div class = "new">
						<div class = trip-index>
						<h1>Welcome!</h1>
						<h3><%= link_to "Add New Trip", new_user_trip_path(@user), :class => 'btn btn-success btn-lg'%></h3>

						<h4>Here are your recent trips:</h4>
							<%@trips.each do |trip|%>
							<p><%= link_to trip.name, trip_path(trip) %></p> 
						<%end%>

						</div>
					</div>
				</body>
			</div>
		</div>
	</div>
</div>
