	<%# @trip.attendees.each do |a| %>
 		<%#= a.name %>
 		<%# end %>
 		<%#= link_to "remove attendee", [attendee.trip, attendee], 
 			method: :delete, 
 			data: {confirm:  "Are you sure?"} %>


 <p>
 		<strong><%= attendee.name %></strong>
 		<%= link_to "remove attendee", [attendee.trip, attendee], 
 			method: :delete, 
 			data: {confirm:  "Are you sure?"},
 			:class => 'btn btn-danger btn-xs' %>

 </p>