	<%# @trip.attendees.each do |a| %>
 		<%#= a.name %>
 		<%# end %>
 		<%#= link_to "remove attendee", [attendee.trip, attendee], 
 			method: :delete, 
 			data: {confirm:  "Are you sure?"} %>


 <p>
 		<%= attendee.name %>
 		<%= link_to "remove attendee", [attendee.trip, attendee], 
 			method: :delete, 
 			data: {confirm:  "Are you sure?"} %>

 </p>