    <!-- Header -->

    <style>
    .han-img{
      /*margin-left: 20%;*/
    }
    .glo-img{
      /*margin-left: 50%;*/
    }
    .img-center {
      margin: 0 auto;
      display: inherit;
      padding: 0 0 20px 0;
    }

    .questions {
      font-size: 50px;
    }

    .free {
      font-size: 20px;
    }

    </style>
   
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Welcome to Treasure</h1>
                        <h3>Treasure these moments</h3>
                        <h3>Account the journey</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <!-- <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li> -->
                            <!-- <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Start</span></a>
                            </li> -->
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"></i> <span class="network-name">Start Yours Now</span></a>
                            </li>
                            <!-- <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <a  name="about"></a>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Treasure is made to keep things simple.</h2>
                    <p class="lead">Treasure helps you to divide mutual spending between you and your friends so that the focus of your trip is on the people around you and not the money spent.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                 <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row row-centered">
                <div class="col-lg-6 col-centered">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sihan Ding</h2>
                    <!--enter picture -->
                    <div class = "han-img">
                     <img  height="325" width ="300" class ="img-circle img-center" class="img-responsive" src="img/ipad.png" alt="">
                     </div>
                    <p class="lead">Sihan will be a rising third year at the University of Virginia, McIntire School of Commerce majoring in Finance. His inspiration for this app stems from his experiences with planning for large groups of people and created a solution for more organized group travel. In his spare time, Han likes to take stunning pictures and improve his talents in photography.</p>
                </div>
                 <div class="col-lg-6 col-centered">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Gloryah Allen</h2>
                    <!--enter picture -->
                    <div class = "glo-img">
                     <img class ="img-circle img-responsive img-center" src="img/dog.png" height ="300" width ="300" alt="">
                     </div>
                    <p class="lead">Gloryah will also be a rising third year at the University of Virginia double majoring in Economics + Studio Arts. Her goal for this app was to create a sleek and easy to use UX design for any group organizer, for any type of trip. In her spare time, Gloryah plays percussion music and drives buses.</p>
                </div>
                <!-- <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div> -->
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading" >
                    <div class="questions">Have any questions?</div>
                    <p class="lead"><div class ="free">Please feel free to connect with us on LinkedIn</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
              <!-- need to fix responsiveness when page is small -->
                <div class="col-lg-3 col-sm-1">
                    <!-- <h2>Connect to Treasure:</h2> -->
                   <ul class="list-inline banner-social-buttons">
                        <li>
                             <a href="https://www.linkedin.com/in/designding" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Sihan's Linkedin</span></a>
                        </li>
                      </ul>
                </div>
                
                <div class="col-lg-9 col-sm-1">
                    <ul class="list-inline banner-social-buttons">
                      <li>
                            <a href="https://www.linkedin.com/in/gloryahallen" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Gloryah's Linkedin</span></a>
                        </li>
                       <!--  <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li> -->
                        <!-- <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li> -->
                      
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">What is Treasre</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">About Us</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact Us</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Treasure 2015. All Rights to Happiness Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</body>