// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trip-form {
	text-align: center;
}
.trip-index {
	text-align: center;	
}
.trip-show {
	margin: 3% 3% 3% 3%;
	text-align: center;
	padding: 2%;
	/*background: linear-gradient(0deg, #d0eaee, #ffffff);*/
	background: linear-gradient(0deg, #d0eaee, #ffffff);
	background-size: cover;
}
