<div class = expense-index>
<%= render 'list' %>
</br>

	<div class = "col-sm-12">
	</br>
	</br>
	</br>
	</br>
	<%= link_to 'Back', user_trip_path(current_user,@trip), :class => 'btn btn-info' %>
	</br>
	</br>
	</br>
	</br>
	</div>

</div>